live/liveMedia/*.o
live/UsageEnvironment/*.o
live/BasicUsageEnvironment/*.o
live/groupsock/*.o
live/liveMedia/*.a
live/UsageEnvironment/*.a
live/BasicUsageEnvironment/*.a
live/groupsock/*.a
live/proxyServer/*.o
live/proxyServer/live555ProxyServer
live/mediaServer/*.o
live/mediaServer/live555MediaServer
live/testProgs/
release/objs/*.o
release/RTSPServer